:root {
  --bg-color: #172142;
  --color1: #cfdae6;
  --color2: #6f8eae;
  --color3: #1b2b3b;
  --color4: #676a73;
  --color5: #6979a8;
  --color6: #f4f4f4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
